header{
    left: 0;
    width: 100%;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-around;
}

.navegation{
    display: flex;
}

.navegation li{
    font-size: 15px;
    margin: 1rem;
}

